<div class="conteudo">

	<div class="rotulo">
		<span>Novo Produto</span>
	</div>

	<% @produto.errors.full_messages.each do |mensagem| %>
		<div class="alert alert-danger" role="alert">
			<%= mensagem %>
		</div>
	<% end %>	
	
	<%= render 'form_produto' %>
	
</div>