<div class="conteudo">
	<% @produto.errors.full_messages.each do |mensagem| %>
		<div class="alert alert-danger" role="alert">
			<%= mensagem %>
		</div>
	<% end %>	
	<%= render 'form_produto' %>
	
</div>